{
  "mode": "xmlrpc",
  "host": "subdomain.host.com",
  "port": 12345,
  "path": "/deluge/json",
  "user": "username",
  "pass": "password",
  "chownUser": 1026,
  "chownGroup": 101,
  "pget": 30,
  "rootDownloadFolder":"/download",
  "nodeDownloadFolder":"/download",
  "tvShowsDestination": "/tv",
  "labelDownloadFolders": { "test": "/tv" },
  "doneLabel": "done",
  "doneLabelDelay": 300
}